@charset "UTF-8";

$primary-color: #008FAD;
$secondary-color: #DE6773;
$link-color: #052B33;
$success-color: #746456;
$alert-color: #F00;
$grey-color: #f1f1f1;
$red_color: #D7463D;
$white_color: #ffffff;
$disable_color: #6D6D6D;
$button-font-color: #fff;
$input-prefix-background-color: #f1f1f1;
$background_color_body: #DEDEDE;
$body-background-color: #ffffff;
$body-font-color: #333;
$body-border-color: #d5d5d5;
$content-background-color: #fff;

$font-family: "Georgia", serif;
$alt-font-family: "PT Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

@@include('main-import.scss')   
